name: Checks and tests

on:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: eyepop-ai/eyepop-actions/python-lint@main
        with:
          python-version: "3.12"
          install-dependencies: uv sync --locked --all-extras --dev

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6

      - run: uv sync --locked --all-extras --dev

      - run: uv run pytest
